@import "tailwindcss";

@theme {
  --color-pudim: #F5E6C8;
  --color-creme: #FFF8F0;
  --color-caramelo: #D4A373;
  --color-chocolate: #5C4033;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F5E6C8;
  color: #5C4033;
}